body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}

ul {
    display: flex;
    list-style-type: none;
    text-align: left;
    margin-left: 150px; /* Reduzi a margem esquerda */
    padding: 10px; /* Reduzi o padding */
    gap: 90px; /* Reduzi o gap para 20 pixels */
}

a {
    color: white;
    text-decoration: none;
}

/*Canto superior*/
/*-------------------------------------------------------*/

.center {
  position: relative;
}

.center img {
  display: block;         /* remove espaços indesejados */
  width: 100vw;           /* ocupa toda a largura da viewport */
  height: auto;           /* mantém proporção */
  margin: 0;              /* sem margens */
  padding: 0;             /* sem padding */
  position: relative;     /* ou remova se não precisar */
}

body {
  margin: 0;
  padding: 0;
}

/*Imagem tocae os dois canto esquerdo e direito*/
/*-------------------------------------------------------*/

.title {
  position: absolute;
  top: 200px;          /* distância do topo da imagem */
  left: 100px;         /* distância da esquerda */
  color: white;
  font-size: 30px;

}

.texto{
  position: absolute;
  top: 220px;          /* distância do topo da imagem */
  left: 100px;         /* distância da esquerda */
  color: white;
  font-size: 20px;
  max-width: 700px; /*Define a largura máxima do elemento*/
  margin: 30px auto;
  text-align: justify;
}


/* Perfil */
.perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  position: absolute;
  top: 200px;          /* distância do topo da imagem */
  left: 1100px;         /* distância da esquerda */
}

h2 {
  position: absolute;
  top: 345px;          /* distância do topo da imagem */
  left: 1059px;
  font-size: 20px;        /* distância da esquerda */
  box-shadow: 0 0 2000px rgba(255, 255, 255, 0.6);
  line-height: 1.6;
  padding: 5px 5px; /* igual para os dois lados */
}



footer {
  position: fixed;
  bottom: 0;
  left: -62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  z-index: 1000; /* garante que fique por cima de outros elementos */
}

footer a {
  margin: 0 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}

footer img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

footer p {
  margin-top: 2px;
  font-size: 12px;
}
